body{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(back.jpg);
			height: auto;
	background-size: cover;
	background-position: center;
	
}
header{
		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(back.jpg);
			height: 30vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}
.row{
	max-width: 1200px;
	margin: auto;
}
.main-nav ul{
	margin: 0px;
	padding: 0px;

}
.main-nav ul li{
	float:right;
	width: 110px;
	height: 40px;
	text-align: center;
	font-size: 120%;
	list-style: none;
margin-left: 40px;
	float: right;
	margin-top: 30px;
	color: white;
	font-family: 'Flamenco', cursive;
}
.main-nav ul li a{
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 90%;
	font-weight: 110;
	padding: 5px 1px;

}
.main-nav ul li a:hover{
border-bottom: 2px solid #84d21a;
}
.main-nav ul li ul li{
display: none;
}
.main-nav ul li:hover ul li {
display: block;
font-size: 100%;
margin-top: 0px;
font-family: 'Flamenco', cursive;
padding: 0px 1px;
}
.active{
	border: 2px solid #fff;
}
h1, h2, h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

ul.products {
	padding: 0;
	margin: 0;
	max-width: 800px;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 10px;
}
ul.products li {
	display: inline-block;
	max-width: 400px;
	padding: 20px 30px;
	background-color: #FFFFFF;
	margin: 10px;
	border: 1px solid #EAEAEA;  
	color: #3D3D3D;
	list-style: none;
}
ul.products li h3 {
	margin: -10px -10px 10px -10px
	padding: 5px;
	text-align: center;
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #5A5A5A;
}
ul.products li fieldset {
	border: none;
	padding: 5px 5px 5px 0px;
	margin: 0;
}
ul.products li fieldset label{
	display:block;
	margin-bottom: 4px;
}
ul.products li fieldset label span{
	width: 80px;
	float: left;
}
ul.products li fieldset label select{
	min-width: 100px;
}

button, .button{
	background-color: #39b3d7;
	min-width: 100px;
	border: none;
	padding: 10px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #FFF;
	min-height: 15px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	margin-left: 70px;
}
button:hover, .button:hover{
	background-color: #44C7ED;
}

.product-thumb{
	text-align:center;
}
.product-desc {
	font-style: italic;
	
	margin-bottom: 4px;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}
